.Time {
  width: 300px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-right: 125px;
}

.login-main {
  display: flex;
  /* grid-template-columns: repeat(2, auto); */
}
.item-grid {
  width: 100%;
}
.sign-main {
  width: 450px;
}
.error_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 450px;
  color: white;
  margin: 15px 0px;
  background-color: rgb(226, 77, 77);
}
.no_error {
  height: 55px;
}
.error_msg {
  color: rgb(232, 46, 46);
  font-size: 13px;
  font-weight: 500px;
}
.invisible {
  visibility: hidden;
}

.status-not-accepted {
  color: red;
}
.status-accepted {
  color: rgb(212, 158, 9);
}
.status-completed {
  color: green;
}
.status-partial {
  color: blue;
}
.span-link {
  color: rgb(53, 53, 192);
  cursor: pointer;
}
.login {
  width: 60%;
}
.logo-head {
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: larger;
  margin-bottom: 30px;
  width: max-content;
}
.login_buttons {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.signup {
  text-align: end;
  padding: 10px 30px 0px 0px;
}
.signHead {
  font-size: 15px;
  color: #74788d;
}
.signlink {
  color: #3d94fb;
}

.filter-label {
  font-weight: 700;
  font-size: 12px;
}
.tabs_nav {
  padding-left: 5px;
}

.filter-div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 22px;
}
.filter-content {
  margin-bottom: 15px;
}
.filter-content3 {
  margin-bottom: 15px;
}
.task_main_div {
  width: 100%;
  position: relative;
  left: 0.6%;
  margin-top: 0px;
  box-sizing: border-box;
  background-color: white;
  margin-bottom: 10px;
}
.buttonDiv2 {
  margin-right: 15px;
  display: flex;
  flex-direction: row-reverse;
  height: 5px;
  font-weight: 700;
}

.cancelButton {
  margin-left: 10px;
  font-weight: 700;
}
.pagination {
  position: relative;
  right: 25px;
  top: -15px;
  height: 30px;
  flex-direction: row-reverse;
}
.item-page {
  font-size: 13px;
  margin: 9px 21px 9px 9px;
}
.partial {
  height: 150px;
  width: 400px;
  margin-top: 15px;
}
.internal {
  height: 36px;
  width: 70px;
  text-align: center;
  display: inline-block;
  border: 1px solid rgb(170 151 151);
  padding: 6px;
  border-radius: 3px;
  margin-right: 20px;
  font-size: 14px;
  margin-top: 15px;
  opacity: 0.8;
  cursor: pointer;
}
.internal:hover {
  box-shadow: 0px 0px 5px 4px rgb(140, 140, 202);
}

.modalTitle {
  font-weight: 500;
  font-size: 18px;
  margin-top: 8px;
  margin-left: 4px;
  padding: 0px;
}
.int-border {
  border: 1px solid blue;
  box-shadow: 0px 0px 5px 4px rgb(140, 140, 202);
  cursor: pointer;
}
.searchIp {
  width: 252px;
  position: relative;
  bottom: 15px;
  right: 7px;
}
.filter-border {
  border: 1px solid;
}
.filter-mar {
  margin: 15px;
}
.filter-col {
  margin-bottom: 15px;
}
.filter-font {
  font-size: 10px;
}
.filter-date {
  display: flex;
  flex-direction: row;
}
.error-font {
  font-size: 10px;
  color: red;
}
.filter-submit {
  height: 27px;
  font-size: 13px;
  padding: 0px;
}
.filter-flex-nav {
  flex-grow: 1;
}
.button-filer {
  height: 27px;
  font-size: 12px;
  padding: 1px;
  font-weight: 600;
}
.export-filter {
  height: 27px;
  font-size: 13px;
  padding: 1px;
}
.filter-tab-panel {
  position: relative;
  top: 10px;
}
.icon-button-style {
  font-size: 12px;
}
.nav-menu {
  margin-bottom: 30px;
}

.cell {
  height: 20px !important;
  display: block;
  font-size: 12px;
}
.item-img {
  width: 44%;
  height: 100vh;
}
.login_containt {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: center;
}
.login-content {
  width: 50%;
}
.left-panel {
  background-size: cover;
  width: 50%;
  height: 100vh;
  background-image: url(https://testffc.nimapinfotech.com/assets/media/login/login-page-slider3.jpg);
}
.loginform-btns {
  font-size: 13px !important;
  padding: 1px 3px !important;
}

@media screen and (min-width: 320px) and (max-width: 650px) {
  .login-main {
    display: flex;
    flex-direction: column;
  }
  .left-panel {
    width: 100%;
    height: 100vh;
  }
  .login-content {
    width: 100%;
    padding: 0px 15px;
    height: 80vh;
  }
  .login {
    width: 100%;
  }
  .loginform-btns {
    font-size: 12px !important;
    padding: 1px 5px !important;
  }
}
