
.display2 {
  z-index: 2;
}

.ani .css-11n7qdo-MuiFormControl-root {
  position: relative !important;
  top: auto !important;
  width: 100% !important;
}

.ani .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100% !important;
}
.ani {
  display: grid;
}
.fileSelect {
  grid-row: 3/4;
  grid-column: 1/-1;
  opacity: 0;
  z-index: 100;
  width: 300px;
}

.fileName {
  grid-row: 3/4;
  grid-column: 1/-1;
  z-index: 1;
}

.end_props_loader {
  color: red;
  font-weight: 520;
  font-size: 16px;
  z-index: 98;
  cursor: pointer;
}
